// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$off-white: #F9FAFC;
$white: #FFFFFF;
$black: #090B1E;
$blue: #0085FF;
$gray: #888888;
$light-gray: #E6E7E8;
$gradient: linear-gradient(90deg, #009EFF 0%, #9360FF 100%);
