// Specific CSS for your home-page
.container-section {
  .container-main {
    max-width: 700px; // largura máxima do bloco principal
  }

  .container-title {
    font-size: 48px;
    font-weight: 700;
  }

  .container-subtitle {
    font-size: 32px;
    font-weight: 400;
  }

  .container-description {
    max-width: 500px;
    color: $gray;
  }

  .container-btn {
    border-radius: 12px;
    padding: 16px 32px;
    width: 308px;
    background-color: $black;
    color: $off-white;
  }
}
