<footer class="footer d-flex justify-content-between align-items-center">
  <div class="footer-icons d-flex align-items-center">
    <%= link_to "#", class: "footer-icon" do %>
      <i class="bi bi-github fs-4 me-3"></i>
    <% end %>
    <%= link_to "#", class: "footer-icon" do %>
      <i class="bi bi-twitter-x fs-4"></i>
    <% end %>
  </div>

  <div class="footer-links">
    <%= link_to "Privacy and cookies policy", "#" %>
    <%= link_to "Terms of use", "#" %>
    <span>© SmartRecipes2025</span>
  </div>
</footer>
