<div class="layout-main container-fluid">
  <div class="row h-100">
    <div class="col-12 col-md-9 col-lg-10 d-flex flex-column justify-content-center align-items-center text-center p-4 w-100">
      <div class="mb-4">
        <h1 class="fw-bold container-title">Hello, <%= current_user.username %></h1>
        <p class="container-subtitle">How can I assist you today?</p>
        <%= simple_form_for(@chat) do |f| %>
          <%= f.submit class: 'btn btn-dark btn-lg container-btn'%>
        <% end %>
      </div>
    </div>

  </div>
</div>
