<%= turbo_stream_from @chat %>

<div class='chat-container container m-4' id='chat_title'>
  <h1><%= @chat.title %></h1>
</div>
<div class="container mt-3" id='messages'>
<%= render 'messages/messages' , messages: @chat.messages.visible%>
</div>
<div class="container sticky-bottom bg-white p-3" style="z-index: 1030;">
  <div class="card p-3 d-flex" id="new_message">
    <%= render 'messages/form', chat: @chat, message: Message.new %>
  </div>
</div>
