.navbar-smartrecipes {
  justify-content: space-between;
  background: $off-white;
  padding: 0px 80px;
}

.navbar-smartrecipes .navbar-collapse {
  flex-grow: 0;
}

.logo-img {
  width: 363px;
  height: 80px;
}

.nav-button {
  color: $black;
  background-color: $white;
  font-size: 16px;
  border: 1px solid $light-gray;
  border-radius: 12px;
  padding: 16px 32px;

  &:hover {
    background-color: $black;
    color: $off-white;
  }
}

.nav-drop-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;

}
