.navbar-smartrecipes {
  justify-content: space-between;
  background: $off-white;
  padding: 0px 80px;
}

.navbar-smartrecipes .navbar-collapse {
  flex-grow: 0;
}

.logo-img {
  width: 176px;
  height: 40px;
}

.nav-button {
  color: $black;
  background-color: $white;
  font-size: 16px;
  border: 1px solid $light-gray;
  border-radius: 12px;
  padding: 16px 32px;

  &:hover {
    background-color: $black;
    color: $off-white;
  }
}

.nav-drop-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;

}

.sidebar {
  // position: fixed;
  // top: 82px;
  // bottom: 100px;
  // left: 0;
  width: 250px;
  border-right: 1px solid #ddd;
  background-color: #fff;
  padding: 1rem;
  overflow-y: auto;
}
